extends index2
block content
    div(id="options")
        button(id="moreSelec") Add selector on result
        input(id="selector_1",placeholder="   selector here")
        button(id="select_1") selector
    div(id="htmlContainer")
        h5 
            =toSend.body
    div(id="shareLink")
        button Generate Link
        a(id="scrapeLink")
