extends index
block content
    div(id="container")
        h3 Enter url and other details
        form(method="POST",action="/fun")
            input(id="url",class="fInp",name="url",placeholder="   url")
            input(type="submit",value="GET",class="fInp")
