/*
 * darker orange #EF1511
 * lighter orange #EF4F1D
 */
body{
    padding:0px;
    margin:0px;
   /*2A2C2B*/ 
    background:url(/img/background.png);
}

#container{
    width:30%;
    margin:auto;
    color: brown;
    font-size: 25px;
    border: 5px solid brown;
    margin-top: 100px;
    padding: 20px;
    text-align: center;
}

.fInp{
    display: block;
    margin:10px auto;
    border-radius: 10px;
    width: 300px;
    height:20px;
}
#htmlContainer{
    width:60%;
    margin:50px auto;
    height:500px;
    overflow:auto;
    padding:10px; 
    border:2px solid brown;
    word-wrap:break-word;
    color:white;
    font-size:20px;
}

#options{
    margin:50px auto;
    width:30%;
}
#options>input {
    border-radius:10px;
    margin:10px;
}
.fOpInp{
    border-radius:10px;
    margin:10px;
}
#shareLink{
    margin:auto;
    text-align:center;
}
#moreSelec{
   float:right; 
}
